@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  background-color: #C5C6C8;
}

.fullname {
  font-family: "Mulish", sans-serif;
  font-size: 35px;
  color: #66fcf1;
}

h1 {
  font-family: "Mulish", sans-serif;
  color: #66fcf1;
}

p {
  color: white;
}

.nav-items li {
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 12px;
}

#about-me-page,
#contacts-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
